<?xml version="1.0"?>
<launch>
	<!-- Run the ekf for odom to base_link config for indoor localization -->
	<group ns="local_ekf">
		<node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_with_odom" >
			<rosparam command="load" file="$(find mbs_husky_control)/config/odom_localization_config.yaml" />
		</node>
	</group>
</launch>
