<?xml version="1.0"?>
<launch>
  <arg name="robot_ip" default="192.168.132.1" />
  <arg name="report_type" default="normal" />	
  <arg name="xarm_hw_ns" default="xarm6" />
  <arg name="ext_ns" default="" />
  <arg name="velocity_control" default="false"/>
  <arg name="enforce_limits" default="true" />
  <arg name="baud_checkset" default="true" />
	<arg name="default_gripper_baud" default="115200" />

  <!-- common: bring up node to enable real xArm control -->
  <include file="$(find xarm_bringup)/launch/xarm6_server.launch">
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="report_type" value="$(arg report_type)" />
    <arg name="use_moveit" value="true" />
    <arg name="ns" value="$(arg xarm_hw_ns)" />
    <arg name="use_gripper_action" value="true" />
    <arg name="velocity_control" value="$(arg velocity_control)" />
    <arg name="enforce_limits" value="$(arg enforce_limits)" />
    <arg name="baud_checkset" value="$(arg baud_checkset)" />
    <arg name="default_gripper_baud" value="$(arg default_gripper_baud)" />
  </include>

  <!-- load the joint trajectory controller specified in yaml -->
  <rosparam file="$(find xarm_controller)/config/xarm6_traj_controller.yaml" command="load" ns="$(arg xarm_hw_ns)"/>
  <arg name="xarm_traj_controller" value="xarm6_traj_controller" />
  <node name="traj_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="$(arg xarm_hw_ns)"
        args="$(arg xarm_traj_controller)"/>

  <node pkg="topic_tools" type="relay" name="relay_explicit" args="/xarm6/joint_states /joint_states"/>

</launch>