<?xml version="1.0"?>
<launch>

  <!-- Husky base driver -->
  <include file="$(find husky_base)/launch/base.launch" />

  <!-- Imu manager -->
  <node pkg="nodelet" type="nodelet" name="imu_manager" args="manager"/>

  <!-- Filter raw gyro, accel and mag data into a usable orientation -->
  <node pkg="nodelet" type="nodelet" name="imu_filter" args="load imu_filter_madgwick/ImuFilterNodelet imu_manager">
    <rosparam file="$(eval optenv('HUSKY_MAG_CONFIG', find('husky_bringup')+'/config/mag_config_default.yaml'))" />
    <rosparam>
      orientation_stddev: 0.001
      gain: 0.01
      zeta: 0.001
      publish_tf: false
      use_magnetic_field_msg: false
    </rosparam>
  </node>
  
</launch>

